<aside id="left-panel" class="left-panel">
    <app-nav></app-nav>
  </aside>
  
  <div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="content">

      <!-- <app-home></app-home> -->
      <router-outlet></router-outlet>
      
    </div>
   
    <div class="clearfix"></div>
  <app-footer></app-footer>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"> </i>
  </a>
  </div>
  
  
  
  
  <!-- End of Page Wrapper -->
  
  <!-- Scroll to Top Button-->
  
  