<div>
    <div>
      <div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
        </div>
        <div class="modal-body">Chọn "Delete" nếu bạn muốn xóa sản phẩm.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="onNoClick()">Cancel</button>
          <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="onDelete()">Delete</button>
          <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
        </div>
      </div>
    </div>
  </div>