<form id="input-form" [formGroup]="form">
    <p style="font-weight:bolder;">CHI TIẾT SẢN PHẨM</p>
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input [disabled]="true" formControlName="id" matInput placeholder="Enter ID" [readonly]="true">
    </mat-form-field>
    <br/>

    <mat-form-field appearance="fill">
        <mat-label>Tên Sản Phẩm</mat-label>
        <input [readonly]="true" [disabled]="true" formControlName="name" matInput placeholder="Name">
      </mat-form-field>
    <br/>

    <mat-form-field appearance="fill">
        <mat-label>Thương Hiệu</mat-label>
        <input [readonly]="true" [disabled]="true" formControlName="brand" matInput placeholder="Brand">
    </mat-form-field>
    <br/>

    <mat-form-field appearance="fill">
        <mat-label>Xuất Xứ</mat-label>
        <input [readonly]="true" [disabled]="true" formControlName="origin" matInput placeholder="Origin">
    </mat-form-field>
    <br/>

    <mat-form-field appearance="fill">
        <mat-label>Giá</mat-label>
        <input [readonly]="true" [disabled]="true" formControlName="money" matInput placeholder="Money">
    </mat-form-field>
    <br />

    <p>Trạng Thái</p>
    <mat-radio-group aria-label="Select an option" formControlName="status">
      <mat-radio-button value="Còn Hàng" [checked]="data.status==='Còn Hàng'"  [disabled]="true">Còn Hàng</mat-radio-button>
      <div class="divider" style="width:10px;
      height:auto;
      display:inline-block;"></div>
      <mat-radio-button [value]="'Hết Hàng'" [checked]="data.status==='Hết Hàng'" [disabled]="true">Hết Hàng</mat-radio-button>
    </mat-radio-group>
    <br />
    <div mat-dialog-actions>
      <button (click)="onNoClick()" class="btn btn-outline-primary" mat-button [disabled]="!form.valid">OK</button>
    </div>
</form>